header{
  overflow: hidden;
  position: fixed;

  width:fit-content;
  
  top: 0;
  left: 0;
}



/*ここからタブの設定*/

/*ボタンと記事全体*/
.tabs  {
  width:100%;
  height:auto;

  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*ボタン部分のみ*/
.tab {
  width:100%;
  height:30px;
  background-color: rgb(223, 89, 0);
  box-sizing: border-box;

  left:0;
  padding-left: 0%;
  padding-top: 0%;
  margin:0%;
  height: 100%;

  }

/*タブのスタイル*/
.tab_item{
  width: 20%;
  height: 60px;

  background-color: rgb(223, 89, 0);

  font-size: 16px;
  text-align: center;
  color: #ffffff;


  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;


  color: rgb(255, 255, 255);
  line-height:60px;

  background-color: rgb(223, 89, 0);

  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  position:sticky;
  position:fixed
}
#button1{
  margin-left: 0%;
}
#button2{
  margin-left: 20%;
}
#button3{
  margin-left: 40%;
}
#button4{
  margin-left: 60%;
}
#button5{
  margin-left: 80%;
}
/*ホバー状態*/
.tabs input:hover + .tab_item {
  background-color: rgb(255, 166, 0);
}
/*選択*/
.tabs input:checked + .tab_item {
  background-color: rgb(255, 166, 0);
  color: rgb(66, 66, 66);
  font-size: larger;
}

/*ラジオボタンを全て消す*/
input[name="tab_selection"] {
  display: none;
}

.margin{
  height: 70px;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#selection1:checked ~ #content1,
#selection2:checked ~ #content2,
#selection3:checked ~ #content3,
#selection4:checked ~ #content4,
#selection5:checked ~ #content5{
  display: block;
}



article{
  height:auto;
}

body {

  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 90px;

  width:auto;
  max-width: none;
  min-width:200px;

  min-height: 100vh;

  background-image: url("./resources/background/polished_blackstone_bricks.png");
  background-position:center center;
  image-rendering:crisp-edges;

  background-size:96px;
  background-repeat:repeat;
  
}

footer{
  
}


.page {
  margin: 0 auto;
}
.header {
  height: max-content;
  width:100%;

  background-color: rgb(34, 34, 34);
  border-radius: 5px;
}
.tab_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.footer {
  clear: both;
}
img.title
{
  image-rendering: optimizeSpeed;
  width: auto;

  margin-top: 5px;
  margin-bottom: 5px;
  max-block-size: 80px;

  margin-left:auto;
  margin-right: auto;
  display: block;
}
.figtitle{
  vertical-align: middle;
}


@media screen and (max-width: 1650px) {
  .tab_content {
    width: 85%;
    margin-left:auto;
    margin-right: auto;
  }
}









@media screen and (max-width: 700px) {
  body{
    margin-top: 50px;
  }
  .tab_content{
    margin-left: auto;
    margin-right: auto;
    width:76%;
  }
  img.title
  {
    margin-left:5%;
    max-block-size: 40px;
  }
  #under_line{
    background-color: rgb(223, 89, 0);
    width: 100%;
    height:5px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .open .tabs input:checked + .tab_item {
    background-color: rgb(255, 166, 0);
    color: rgb(66, 66, 66);
    font-size: larger;
  }
  #nav-toggle {
    display: none;
    position: absolute;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    right: 0px;
    top: 0px;
    width:80px;
    height: 60px;
    cursor: pointer;
    z-index: 101;
  }
  
  #nav-toggle div {
    position: relative;
  }

  #button1{
    margin-left: -20%;
    margin-top: 0%;
  }
  #button2{
    margin-left: -20%;
    margin-top: 0%;
  }
  #button3{
    margin-left: -20%;
    margin-top: 0%;
  }
  #button4{
    margin-left: -20%;
    margin-top: 0%;
  }
  #button5{
    margin-left: -20%;
    margin-top: 0%;
  }

  .open #button1{
    margin-left: -20%;
    margin-top: 0px;
    height: 60px;
  }
  .open #button2{
    margin-left: -20%;
    margin-top: 60px;
    height: 60px;
  }
  .open #button3{
    margin-left: -20%;
    margin-top: 120px;
    height: 60px;
  }
  .open #button4{
    margin-left: -20%;
    margin-top: 180px;
    height: 60px;
  }
  .open #button5{
    margin-left: -20%;
    margin-top: 240px;
    height: 60px;
  }


  .tab  {
    margin-top:20px;
  }
  .tabs  {
    width:100%;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .tab_item{
    margin-left:auto;
    margin-right: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .margin{
    width: 100%;
    height:10px;
  }
  .open .tabs {
    height:300px;
  }
  .open .tabs .tab_item{
    height: 0%;
    margin-left:-20%;

    width: 200%;
  }
  .open #under_line{
    background-color: rgb(223, 89, 0);
    height:300px;
  }
  .tabs .tab_item{
    margin-left:0%;

    height: 0%;
    width: 0%;

    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}


/*////////////////////////////////////////////////////////////////////////////////////////////*/







@media screen and (max-width: 370px) {
  /*画面がちっちゃすぎるとき用*/
  .page {
  }
  body{
    margin-top: 50px;
  }
  img.title
  {
    margin-left:-15%;
    max-block-size: 38px;
  }
}








@media screen and (max-width: 700px) {
  /* #nav-toggle 切り替えアニメーション */
  #nav-toggle {
    display: block;
  }
  #nav-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    background: rgb(223, 89, 0);
    left: 0;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 15px;
    margin-left: 30px;
  }
  #nav-toggle span:nth-child(2) {
    top: 25px;
    margin-left: 30px;
  }
  #nav-toggle span:nth-child(3) {
    top: 35px;
    margin-left: 30px;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 25px;
    margin-left: 30px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 20%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 25px;
    margin-left: 30px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
}